.App {
  text-align: center;
  background: #f1f1f1;
  height: 100vh;
}

.App-logo {
  height: auto;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: #434343;
}

.App-intro {
  font-size: large;
  padding-top: 50px;
}

ul {
    display: inline-block;
    margin: 0 auto;
}

li {
    display: block;
    padding: 5px 0;
}
